.pipeline-editor {
    .modal-dialog {
        top: 0;
        bottom: 0;
        position: fixed;
        left: 0;
        right: 0;
        width: auto !important;
        height: 100% !important;
    }
    
    .modal-content {
        top: 0;
        bottom: 0;
        position: fixed;
        left: 0;
        right: 0;
        width: auto !important;
        height: 100% !important;
    }
    
    .stage-block {
        position: relative;
        
        .open-stage-config {
            position: absolute;
            top: 10px;
            right: 15px;
        }
    }    
    
    .step-listing {
        margin-top: 10px;
        margin-bottom: 6px;
        transition: max-height 0.75s;
        
        &.step-listing-active {
            max-height: 20em;
        }
        
        &.step-listing-appear {
            overflow: hidden;
            max-height: 0;
        }
        
        button.list-group-item {
            margin-top: 5px;
        }
    }
    
    .stage-listing {
         margin-left: -20px;
    }
    
    .stage-listing > div> div > .panel {
            border: 0;
    }

    textarea.form-control {
        height: auto;
    }
}

// This will fix a problem with wrapping elements in bootstrap 
// this is documented here: http://stackoverflow.com/questions/25598728/irregular-bootstrap-column-wrapping 
// Without this, things won't wrap clearly left to right. Read it. 
.stage-listing > .row > .col-md-3:nth-child(4n+1) {
    clear: both;
}

.list-group-item {
    margin-bottom: 6px !important;
}

.stage-listing .panel-heading, .stage-listing .panel-heading h3 {
    margin-top: 0;
}
