.pipeline-editor {
    .modal-dialog {
        top: 0;
        bottom: 0;
        position: fixed;
        left: 0;
        right: 0;
        width: auto !important;
        height: 100% !important;
    }
    
    .modal-content {
        top: 0;
        bottom: 0;
        position: fixed;
        left: 0;
        right: 0;
        width: auto !important;
        height: 100% !important;
    }        
}

// This will fix a problem with wrapping elements in bootstrap 
// this is documented here: http://stackoverflow.com/questions/25598728/irregular-bootstrap-column-wrapping 
// Without this, things won't wrap clearly left to right. Read it. 
.stage-listing > .row > .col-md-3:nth-child(4n+1) {
    clear: both;
}

.list-group-item {
    margin-bottom: 6px !important;
}


