.j-ui-popover {
    @arrow-size: 8px;
    @arrow-pad: 21px;
    @border-color: #ccc;
    @separation-from-parent: -1px;
    @offset-from-parent: 10px;
    
    position: absolute;
    display: none;
    z-index: 2000;
    cursor: initial;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 2px 16px -4px #777;
    border-radius: 5px;
    border: 1px solid @border-color;
    
    &.active {
        display: block;
    }
    
    &:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
    }
    
    &.top-right, &.top-left {
        &:before {
            top: 100%;
            margin-top: 1px;
            border-top: 6px solid @border-color;
        }
    }
    
    &.bottom-right, &.bottom-left {
        &:before {
            bottom: 100%;
            margin-bottom: 1px;
            border-bottom: 6px solid @border-color;
        }
    }
    
    &.top-left, &.bottom-left {
        &:before {
            right: (@arrow-pad - 1);
        }
    }
    
    &.top-right, &.bottom-right {
        &:before {
            left: (@arrow-pad - 1);
        }
    }
    
    &:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
    }
    
    &.top-right, &.top-left {
        bottom: 100%;
        margin-bottom: @separation-from-parent;
        
        &.j-ui-popover-appear {
            opacity: 0;
            margin-top: (@separation-from-parent - 6px);
            
            &-active {
                transition: margin-bottom .15s, opacity .05s;
                margin-bottom: (@separation-from-parent);
                opacity: 1;
            }
        }
        
        &:after {
            top: 100%;
            border-top: 6px solid #fff;
        }
    }
    
    &.bottom-right, &.bottom-left {
        top: 100%;
        margin-top: (@separation-from-parent);
        
        &.j-ui-popover-appear {
            opacity: 0;
            margin-top: (@separation-from-parent - 6px);
            
            &-active {
                transition: margin-top .15s, opacity .05s;
                margin-top: (@separation-from-parent);
                opacity: 1;
            }
        }
        
        &:after {
            bottom: 100%;
            border-bottom: 6px solid #fff;
        }
    }
    
    &.top-left, &.bottom-left {
        right: 0;
        margin-right: -@offset-from-parent;
        
        &:after {
            right: @arrow-pad;
        }
    }
    
    &.top-right, &.bottom-right {
        left: 0;
        margin-left: -@offset-from-parent;
        
        &:after {
            left: @arrow-pad;
        }
    }
    
    // can get rid of the arrow
    &.plain {
        &:before, &:after {
            display: none;
        }
    }
    
    h3 {
        margin-top: 8px;
    }
    
    .j-ui-panel {
        margin: 0;
    }
    
    > .btn-link, > .j-ui-wrap > .btn-link {
        &:hover {
            color: #ffffff;
            background: #337ab7;
            text-decoration: none;
        }
        &:first-child {
            margin-top: 4px;
        }
        &:last-child {
            margin-bottom: 4px;
        }
    }
}
        
.j-ui-panel {
    border: 0;
    padding: 2em 2em;
    margin: 1em 0;
    
    > .actions {
        margin: 2em -2em -2em -2em;
        text-align: right;
        border-top: 1px solid #ddd;
        padding: 1em;
        background: #fafafa;
        border-radius: 0 0 5px 5px;
    }
}

textarea.form-control {
    &[cols] {
        width: auto;
    }
    
    &[rows] {
        height: auto;
    }
}

input.form-control[size] {
    width: auto;
}

// Breakpoints
// ------------------------- Source: http://blog.scur.pl/2012/06/variable-media-queries-less-css/
@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
              ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
              ~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile:      ~"only screen and (max-width: 480px)";
@tablet:      ~"only screen and (min-width: 768px)";
@desktop:     ~"only screen and (min-width: 992px)";
@desktop-xl:  ~"only screen and (min-width: 1200px)";
    
.j-ui-form {
    input[type=radio], input[type=radio] + span {
        vertical-align: middle !important;
    }
    
    &.horizontal {
        @media @tablet {
            white-space: nowrap;
        }
        
        .j-ui-field {
            display: inline-block;
            margin-right: 10px;
            vertical-align: top;
        }
        
        .form-control {
            width: auto;
            height: auto;
        }
    }
}

.j-ui-wrap {
    position: relative;
    display: inline-block; // needs size
}

.j-ui-row {
    position: relative;
    display: block; // needs size
    margin: 1em 0;
}

.j-ui-split {
    @media @tablet {
        display: table;
        width: 100%;
        
        &.shrink {
            width: auto;
        }
        
        > span {
            display: table-cell;
            vertical-align: top;
            
            + span {
                padding-left: 1em;
            }
        }
        
        &.align-middle > span {
            vertical-align: middle;
        }
    }
}

.action-menu {
    position: relative;
    
    > .drop-down {
        position: absolute;
        top: 50%;
        right: 0;
        cursor: pointer;
        margin-top: -10px;

        > .toggle {
            display: none;
            color: #333;
            width: 19px;
            text-align: center;
            padding: 1px 0 0 0px;
            height: 19px;
            font-size: 18px;
            line-height: 18px;
            border-radius: 2px;
        }
    }
    
    &:hover > .drop-down, > .drop-down.active {
        > .toggle {
            display: block;
        }
    }
    > .drop-down, > .drop-down.active {
        &.active > .toggle , > .toggle:hover {
            background: #333;
            color: #fff;
        }
    }
}

.radio.radio {
    > label {
        padding: 0;
        margin: 0;
        
        > * {
            vertical-align: middle;
        }
        
        > input[type=radio] {
            margin: 0 10px 0 0;
            padding: 0;
            vertical-align: middle;
            position: relative;
        }
    }
}

.fa-expand-arrow {
    font-size: 18px;
    vertical-align: middle;
    width: 12px;
    text-align: center;
    transform: rotate(0deg);
    transition: transform .15s;
    
    &:before {
        content: "\f0da";
    }
    
    &.active {
        transform: rotate(90deg);
    }
}
button > .fa-expand-arrow {
    margin-left: -8px;
    margin-right: 12px;
}

.edit-field {
    position: relative;
    display: inline-block;
    
    &.view {
        padding: .3em .5em;
        white-space: nowrap;
        
        &:hover {
            box-shadow: 0 0 4px #aaa;
            border-radius: 5px;
        }
    }
    
    &.edit {
        > .form-control, > span[contenteditable] {
            font-size: inherit;
            color: inherit;
            padding: .3em .5em;
        }
        
        > span[contenteditable] {
            box-shadow: 0 0 4px #aaa;
            border-radius: 5px;
        }
    }
    
    .controls {
        position: absolute;
        right: 3px;
        top: 100%;
        margin-top: -1px;
        background: #fff;
        padding: 4px;
        border: 1px solid #ccc;
        border-radius: 0 0 5px 5px;
        box-shadow: 0 3px 5px -2px #aaa;
        white-space: nowrap;
        
        button:last-child {
            margin-left: 4px;
        }
    }
    
    &.hovering .controls {
        margin-top: -3px;
        border-radius: 5px;
    }
}

.nowrap {
    white-space: nowrap;
}

.wrap {
    white-space: initial;
}

.btn {
    &.md {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }
    
    &.xs {
        //padding: 1px 5px;
        //font-size: 12px;
        //line-height: 1.5;
        //border-radius: 3px;
        font-size: 11px;
        line-height: 24px;
        border-radius: 3px;
        width: 25px;
        height: 24px;
        text-align: center;
        padding: 0 1px;
    }
    
    &.btn-danger.outline, &.danger.outline, &.btn-danger-outline {
        background: #fff;
        color: #d43f3a;
        border-color: #d43f3a;
        
        &:hover, &:focus, &:active {
            background: #d43f3a;
            color: #fff;
        }
    }
    
    &.btn-primary.outline, &.primary.outline, &.btn-primary-outline {
        background: #fff;
        color: #2e6da4;
        border-color: #2e6da4;
        
        &:hover, &:focus, &:active {
            background: #337ab7;
            border-color: #2e6da4;
            color: #fff;
        }
    }
}
